body {
    background-image: url(img/fondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.login-container {
    background-color: #333333;
    border-radius: 30px;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-inner {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    height: 85%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    margin-bottom: 20px;
    width: 100%;
}
#cedula{
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    
}

#nombre{
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}
#nombre1{
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    margin-left: 33%;
}
#password1{
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    margin-left: 27%;
}
#cedula1{
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    margin-left: 35%;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 8px solid #333333;
    border-radius: 30px;
    outline: none;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #007ACC;
}

img {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
.login-inner {
    clear: both;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    height: 85%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.alert {
    display: none;
    margin-left: 300px;
    margin-bottom: 600px;
    clear: both;
    position: absolute;
    margin-top: 10px;
    width: 265px;
    height: 20px;
    transform: translateX(-50%);
    padding: 15px;
    border: 1px solid red;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    z-index: 10; 
}
