body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #707170;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
} 
tr:hover {
    background-color: #e0e0e0;
}
img {
  height: 60px;
  width: 60px;
}
.nav-link1{
  color: azure;
  margin-right: 20px;
  margin-top: 20px;
}
.nav-link2{
  color: #a0a0a0;
  margin-right: 20px;
  margin-top: 20px;
}
.nav-link3{
  color: #a0a0a0;
  margin-right: 20px;
  margin-top: 20px;
}
.nav-link4{
  color: #a0a0a0;
  margin-right: 20px;
  margin-top: 20px;
}