body {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    align-items: center;
    margin: 0;
}
img {
  height: 60px;
  width: 60px;
  margin-bottom: -5px;
}
.nav-link1{
  color: rgb(238, 234, 234);
  margin-right: 30px;
  margin-bottom: -30px;
}
.nav-link2{
  color: rgb(238, 234, 234);
  margin-right: 30px;
margin-bottom: -30px;
}
.nav-link3{
  color: rgb(238, 234, 234);
  margin-right: 30px;
  margin-bottom: -30px;
}
.nav-link4{
  color: rgb(238, 234, 234);
  margin-right: 30px;
  margin-bottom: -30px;
}
h1 {
  text-align: center;
  color: #343a40; /* Texto oscuro */
  margin-top: 20px;
}

.table-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead th {
  background-color: #007bff; /* Fondo azul para el encabezado */
  color: white; /* Letras blancas para el encabezado */
  padding: 10px;
}

.table tbody tr {
  background-color: white; /* Fondo blanco para todas las filas */
}

.table tbody tr:nth-child(odd) {
  background-color: white; /* Asegura que las filas alternas también sean blancas */
}

.table tbody tr:hover {
  background-color: #f2f2f2; /* Fondo gris claro al pasar el mouse por encima */
}

.table td {
  color: black; 
  padding: 10px;
  border: 1px solid #ddd; 
  text-align: center;
}

.navbar {
max-height: 60px;
  margin-bottom: 0; /* Asegura que no haya espacio debajo del navbar */
  border: none; /* Elimina cualquier borde */
  box-shadow: none; /* Elimina sombras */
}


.modal-header {
  background-color: #007bff;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

form {
  margin: 0;
}
