body {
    background-image: url(img/fondo.jpg);
     background-size: cover;
     background-repeat: no-repeat; 
     background-position: center; 
     align-items: center;
     margin: 0;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 880px;
    max-width: 800px;
    margin-left: 350px;
    background-color: #5c5b5b;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}
.comida{
    height: 0px;
    background-color: #fff;
}
.formulario {
    flex: 1;
    padding: 20px;
    background-color: #5c5b5b;
    border-right: 1px solid #ddd;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
select, input[type="submit"], input[type="text"] {
    padding: 9px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: #ffffff;
    color: #333;
}
select:focus, input[type="submit"]:focus, input[type="text"]:focus {
    border-color: #000000;
    outline: none;
}
input[type="submit"] {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #000000;
}
.calendario {
    flex: 1;
    padding: 20px;
    color: #000000;
}
.txt1{
    color: #000000;
}
#calendar {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.detalles {
    margin-top: 20px;
}
.detalles label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000;
}
.detalles textarea {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    overflow: auto; 
    transition: border-color 0.3s;
    background-color: #fff;
    color: #333;
}

.detalles textarea:focus {
    border-color: #000000;
    outline: none;
}
img {
  height: 60px;
  width: 60px;
}
.nav-link1{
    color: rgb(238, 234, 234);
    margin-right: 20px;
    margin-top: 20px;
  }
  .nav-link2{
    color: rgb(238, 234, 234);
    margin-right: 20px;
    margin-top: 20px;
  }
  .nav-link3{
    color: rgb(238, 234, 234);
    margin-right: 20px;
    margin-top: 20px;
  }
  .nav-link4{
    color: rgb(238, 234, 234);
    margin-right: 20px;
    margin-top: 20px;
  }
  