body {
    background-image: url(img/fondo.jpg);
     background-size: cover;
     background-repeat: no-repeat; 
     background-position: center; 
     align-items: center;
     height: 100vh;
     margin: 0;
     
 }
 .boton1{
     background-image: url(img/sala.png);
     background-size: cover;
     background-repeat: no-repeat; 
     background-position: center;
     background-color: #424242;
     border: none;
     color: white;
     padding: 110px 120px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-left: 230px;
     margin-top: 60px;
     cursor: pointer;
     border-radius: 6%;
 }
 .boton2{
    background-image: url(img/lab1.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #424242;
    border: none;
    color: white;
    padding: 110px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 130px;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 6%;
}
.boton3{
    background-image: url(img/pec.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #424242;
    border: none;
    color: white;
    padding: 110px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 130px;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 6%;
}
.boton4{
    background-image: url(img/taller.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #424242;
    border: none;
    color: white;
    padding: 110px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 230px;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 6%;
}
.boton5{
    background-image: url(img/lab2.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #424242;
    border: none;
    color: white;
    padding: 110px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 130px;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 6%;
}
.boton6{
    background-image: url(img/bib.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #424242;
    border: none;
    color: white;
    padding: 110px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 130px;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 6%;
}
 .info{
     position: absolute;
     margin-top: 20px;
     margin-left: 210px;
   color: aliceblue;
 }
 .lab1{
     position: absolute;
     margin-top: 20px;
     margin-left: 580px;
   color: aliceblue;
 }
 .pec{
     position: absolute;
     margin-top: 20px;
     margin-left: 1040px;
   color: aliceblue;
 }
 .taller{
    position: absolute;
    margin-top: 305px;
    margin-left: 210px;
    color: aliceblue;
}
.lab2{
    position: absolute;
    margin-top: 305px;
    margin-left: 580px;
    color: aliceblue;
}
.bib{
    position: absolute;
    margin-top: 305px;
    margin-left: 1020px;
    color: aliceblue;
}
 
 img {
   height: 60px;
   width: 60px;
 }
 .nav-link1{
  color: rgb(238, 234, 234);
   margin-right: 20px;
   margin-top: 20px;
 }
 .nav-link2{
  color: rgb(238, 234, 234);
   margin-right: 20px;
   margin-top: 20px;
 }
 .nav-link3{
  color: rgb(238, 234, 234);
   margin-right: 20px;
   margin-top: 20px;
 }
 .nav-link4{
  color: rgb(238, 234, 234);
   margin-right: 20px;
   margin-top: 20px;
 }
  .nav-link5{
    color: rgb(238, 234, 234);
    margin-right: 20px;
    margin-top: 20px;
  } 
  