body {
   background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
.boton1{
    background-image: url(img/calendario.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #424242;
    border: none;
    color: white;
    padding: 150px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 130px;
    font-size: 16px;
    margin-left: 160px;
    margin-top: 180px;
    cursor: pointer;
    border-radius: 6%;
}

.boton2{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat; 
    background-color: #424242;
    margin-left: 130px;
    display: inline-block;
    cursor: pointer;
    border-radius: 6%;
    margin-top: -50px;
  }

.boton2 img{
  display: block;
    width: 300px;
    height: 300px;
    margin-top: 25px;
    border-radius: 6%;
}


.boton3{
  background-image: url(img/reserva.png);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
    background-color: #424242;
    border: none;
    color: white;
    padding: 150px 150px;
    text-align: center;
    margin-left: 130px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6%;
}
.res{
    position: absolute;
    margin-top: 195px;
    margin-left: 230px;
  color: aliceblue;
}
.salas{
    position: absolute;
    margin-top: 180px;
    margin-left: 700px;
  color: aliceblue;
}
.misres{
    position: absolute;
    margin-top: 195px;
    margin-left: 1070px;
  color: aliceblue;
}

#logo {
  height: 60px;
  width: 60px;
}
.nav-link1{
  color: azure;
  margin-right: 30px;
  margin-top: 20px;
}
.nav-link2{
  color: #a0a0a0;
  margin-right: 30px;
  margin-right: 20px;
}
.nav-link3{
  color: #a0a0a0;
  margin-right: 20px;
  margin-top: 20px;
}
.nav-link4{
  color: #a0a0a0;
  margin-right: 20px;
  margin-top: 20px;
}
.nav-link5{
  color: #a0a0a0;
  margin-right: 20px;
  margin-top: 20px;
}
